body::-webkit-scrollbar{
  display: none;  
}

:root, body{
  /* background-color: rgb(25, 25, 25); */
  background-color: #06191D;
}

.App {
  justify-content: center;
  text-align: center;
  /* background-color: rgb(25, 25, 25); */
  background-color: #06191D;
}



.container .recent_uploads_title{
  display: block;
  text-align: center;
  color: #01dde0;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
} 

.row{
  display: block;
  justify-content: center;
}

.left_button, .right_button{
  background-color: #06191D;
  color: #00C5C8;
  border: 1px solid #00C5C8;
  padding: 5px;
  border-radius: 10px;
  position: relative;
  transition: scale 0.6s ease-in-out;
}

.right_button{
  margin: 25px 0 50px 10px;
  left: 15%;
}
.left_button{
  margin: 25px 10px 50px 0;
  right: 15%;
}

.left_button:hover, .right_button:hover{
    background-color: #00C5C8;
    color: #06191D;
    scale: 1.1;
}